.messenger {
  display: grid;
  height: 100vh;
  background: #e4f0fa;
  /*grid-template-columns: 500px auto;*/
  grid-template-rows: 6px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.message-list {
  overflow:wrap;
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}

.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border-top: none;
    background-color: rgba(150, 150, 150, 0.2);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  background-color: rgba(150, 150, 150, 0.0);
  height: 30px;
  width: 90vw;
}

.compose-input::placeholder {
  opacity: 0.7;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}