.title-input {
    flex: 1;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    background-color: rgba(150, 150, 150, 0.0);
    min-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
    margin-left: 0;
}

.dialog-area {
    height: 60vh;
}

h1 {
    font-weight: bold;
}

.components {
    padding: 20px;
    height: 25vh;
    background: transparent;
    width: 100vw;
}

.container {
    width: 100vw;
}

.large-paper {
    width: 100px;
    height: 50px;
    padding: 20px;
    padding-top: 35px;
    text-align: center;
}
